<html lang="hr">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/headerAndNav.ejs") %>

        <h2>Ocijeni knjigu</h2>

        <h3>Podaci o knjizi</h3>
        <div>
            <p>Naslov: <%= book.title %></p>
            <p>Autor: <%= book.author %></p>
            <p>Trenutna ocjena: <%= book.rating %></p>
        </div>
        <h3>Odaberi ocjenu za knjigu "<%= book.title %>"</h3>
        <div>
            <form action="/books/rate/<%= book._id %>" method="post">
                <label for="rating">Ocjena:</label><br>
                
                <label>1</label>
                <input type="radio" name="rating" value="1">
    
                <label>2</label>
                <input type="radio" name="rating" value="2"><br>
    
                <label>3</label>
                <input type="radio" name="rating" value="3" checked>
    
                <label>4</label>
                <input type="radio" name="rating" value="4"><br>
    
                <label>5</label>
                <input type="radio" name="rating" value="5"><br>
                <button>Unesi</button>
            </form>
        </div>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>